@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #about,
  #footer,
  #header,
  #login,
  #navigation,
  #signup {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
